In [2]:
from csv import reader
from math import sqrt
import pandas as pd
import pickle

# reading csv files

In [5]:
movie_columns = ['movieId', 'title', 'genres']
tag_columns = ['movieId', 'userId', 'tag']
ratings_columns = ['movieId', 'userId', 'rating', 'timestamp']
movies_df = pd.read_csv("../data_process/data/movies.csv")[movie_columns]
tags_df = pd.read_csv("../data_process/data/tags.csv")[tag_columns]
ratings_df = pd.read_csv("../data_process/data/ratings.csv")[ratings_columns]

# movies_df head

In [6]:
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

# tags_df head

In [7]:
tags_df.head()

   movieId  userId               tag
0      260       3           classic
1      260       3            sci-fi
2     1732       4       dark comedy
3     1732       4    great dialogue
4     7569       4  so bad it's good

# ratings_df head

In [8]:
ratings_df.head()

   movieId  userId  rating   timestamp
0      296       1     5.0  1147880044
1      306       1     3.5  1147868817
2      307       1     5.0  1147868828
3      665       1     5.0  1147878820
4      899       1     3.5  1147868510

# join

In [9]:
tags_grouped_df = tags_df.groupby(['movieId', 'userId'], as_index=False)['tag'].agg(list)
df_tag_rating =  ratings_df.merge(tags_grouped_df, how='left', on=['movieId', 'userId'])
df_movies_tag_rating =  df_tag_rating.merge(movies_df, how='inner', on=['movieId'])

In [10]:
df_movies_tag_rating.rename(columns = {'timestamp':'timestamp_rating'}, inplace = True)
df_movies = df_movies_tag_rating[['movieId', 'userId', 'rating', 'timestamp_rating', 'tag', 'title', 'genres']]

# df_movies head

In [11]:
df_movies.head()

,movieId,userId,rating,timestamp_rating,tag,title,genres
0,296,1,5.0,1147880044,NaN,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
1,296,3,5.0,1439474476,NaN,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
2,296,4,4.0,1573938898,NaN,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
3,296,5,4.0,830786155,NaN,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
4,296,7,4.0,835444730,NaN,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller

# Save

In [23]:
df_movies_tag_rating.to_parquet('../movie_recommendation/results/movie.parquet')